Repository microsoft/chart-parts: changes, and which lint-staged commands are due for each by the changed paths.
All: essex prettify --staged, essex lint --fix --staged

.lintstagedrc.json:

{
	"*.{yaml,yml,json,md}": ["essex prettify --staged"],
	"*.{js,jsx,ts,tsx}": ["essex lint --fix --staged"]
}

chore: write semver doc
  .yarn/versions/dd51495d.yml
Due: essex prettify --staged

ci: set fetch depth in checkout
  .github/workflows/ci.yml
Due: essex prettify --staged

ci: update codecov condition
  .github/workflows/ci.yml
Due: essex prettify --staged

fix: add authors array to package.json
  package.json
Due: essex prettify --staged

chore: add author, repository fields to package.json files
  package.json
  packages/api-builder/package.json
  packages/api-interfaces/package.json
  packages/api-react/package.json
  packages/charts/package.json
  packages/docs-examples-mobile/package.json
  packages/docs-examples-web/package.json
  packages/docs-examples/package.json
  packages/docs-site/package.json
  packages/docs-testdata/package.json
  packages/processing-orchestrator/package.json
  packages/processing-scenegraph/package.json
  packages/processing-vsvg/package.json
  packages/renderer-react-native-svg/package.json
  packages/renderer-react-svg/package.json
  packages/util-scales/package.json
  packages/util-shapes/package.json
  packages/util-transform/package.json
Due: essex prettify --staged

fix: update peer to react 17+
  packages/api-react/package.json
  packages/charts/package.json
  packages/docs-examples/package.json
  packages/renderer-react-native-svg/package.json
  packages/renderer-react-svg/package.json
Due: essex prettify --staged

chore: cut semver
  .yarn/versions/9904cd23.yml
Due: essex prettify --staged

ci: update ci trigger
  .github/workflows/ci.yml
Due: essex prettify --staged

fix: remove accidental yarn conf from ci.yml
  .github/workflows/ci.yml
Due: essex prettify --staged

ci: try to bump pr?
  README.md
Due: essex prettify --staged

ci: use fetch-depth 0 on checkout
  .github/workflows/ci.yml
  README.md
Due: essex prettify --staged

chore: write semver
  .yarn/versions/dd51495d.yml
Due: essex prettify --staged

chore: update yarn.lock
  yarn.lock
Due: none

fix: lint issues
  packages/api-react/src/scales/QuantileScale.ts
  packages/api-react/src/scales/QuantizeScale.ts
  packages/api-react/src/scales/discrete/OrdinalScale.ts
  packages/api-react/src/scales/discrete/PointScale.ts
  packages/charts/stories/components/AreaChartTester.tsx
  packages/charts/stories/components/GroupedBarChartTester.tsx
  packages/charts/stories/components/LineChartTester.tsx
  packages/charts/stories/components/RotateBarChartTester.tsx
  packages/charts/stories/components/ScatterPlotTester.tsx
  packages/charts/stories/components/StackedAreaChartTester.tsx
  packages/charts/stories/components/StackedBarChartTester.tsx
Due: essex lint --fix --staged

fix: mobile tests
  packages/docs-examples-mobile/App.js
  packages/docs-examples-mobile/__tests__/App-test.js
Due: essex lint --fix --staged

fix: remove accidental yarn conf from ci.yml (#2295)
  .github/workflows/ci.yml
  .yarn/versions/dd51495d.yml
  package.json
  packages/api-builder/package.json
  packages/api-interfaces/package.json
  packages/api-react/package.json
  packages/api-react/src/scales/QuantileScale.ts
  packages/api-react/src/scales/QuantizeScale.ts
  packages/api-react/src/scales/discrete/OrdinalScale.ts
  packages/api-react/src/scales/discrete/PointScale.ts
  packages/charts/package.json
  packages/charts/stories/components/AreaChartTester.tsx
  packages/charts/stories/components/GroupedBarChartTester.tsx
  packages/charts/stories/components/LineChartTester.tsx
  packages/charts/stories/components/RotateBarChartTester.tsx
  packages/charts/stories/components/ScatterPlotTester.tsx
  packages/charts/stories/components/StackedAreaChartTester.tsx
  packages/charts/stories/components/StackedBarChartTester.tsx
  packages/docs-examples-mobile/App.js
  packages/docs-examples-mobile/__tests__/App-test.js
  packages/docs-examples-mobile/package.json
  packages/docs-examples-web/package.json
  packages/docs-examples/package.json
  packages/docs-site/package.json
  packages/docs-testdata/package.json
  packages/processing-orchestrator/package.json
  packages/processing-scenegraph/package.json
  packages/processing-vsvg/package.json
  packages/renderer-react-native-svg/package.json
  packages/renderer-react-svg/package.json
  packages/util-scales/package.json
  packages/util-shapes/package.json
  packages/util-transform/package.json
  yarn.lock
Due: essex prettify --staged, essex lint --fix --staged

chore: write semver
  .yarn/versions/db47ebd4.yml
Due: essex prettify --staged

ci: break up ci script
  .github/workflows/ci.yml
  package.json
Due: essex prettify --staged

chore: cut semver doc
  .yarn/versions/298bfb2b.yml
Due: essex prettify --staged

chore: fix linting issues
  packages/api-builder/src/xform/context/SceneFrame.ts
  packages/api-builder/src/xform/createScenegraph.ts
Due: essex lint --fix --staged

chore: cut semver
  .yarn/versions/298bfb2b.yml
Due: essex prettify --staged

chore: add devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Due: essex prettify --staged
